<table summary="Article form fields">
      <tr>
        <th><%= f.label(:title, 'title') %></th>
        <td><%= f.text_field(:title) %></td>
      </tr>
      <tr>
        <th><%= f.label(:position, 'position') %></th>
        <td><%= f.text_field(:position) %></td>
      </tr>
      <tr>
        <th><%= f.label(:visible , 'visible') %></th>
        <td><%= f.check_box(:visible) %></td>
      </tr> 
       <tr>
        <th><%= f.label(:body , 'body') %></th>
        <td><%= f.text_area(:body) %></td>
      </tr>
      <tr>
        <th><%= f.label(:created_at , 'created at') %></th>
        <td><%= f.datetime_select (:created_at ) %></td>
      </tr>
    </table>