<% @page_title="Articles" %>

<ol class="breadcrumb">
    <li>
        <i class="fa fa-dashboard"></i>  <a href="/admin">Admin</a>
    </li>
    <li class="active">
        <i class="fa fa-table"></i> Articles
    </li>
</ol>
<%= link_to("add new article",{:action =>"new"},"data-no-turbolink" => true, :class =>"pull-right btn btn-primary" )%>
<div style="padding-left:10px"><%= pluralize(@articles.size,'Article')%> found</div>
<div class="container">
<div class="row">
    <div class="col-lg-11">
        <h4 style="text-align:center">Articles List</h4>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
						<th>title</th>
						<th>created at</th>
						<th>visible</th>
						<th>actions</th>
                    </tr>
                </thead>
                <tbody>
                 <% @articles.each do |article| %>
					<tr>
						<td><%=article.position%></td>
						<td><%= article.title%></td>
						<td><%= article.timestamp%></td>
						<td><%=article.visible%></td>
						<td class="row">
							<%= link_to("show",{:action => 'show', :id => article.id}, :class => 'btn btn-info')%>
							<%= link_to("edit",{:action => 'edit', :id => article.id},"data-no-turbolink" => true, :class => 'btn btn-warning')%>
							<%= link_to("delete",{:action => 'delete', :id => article.id}, :class => 'btn btn-danger')%>
						</td>
					</tr>
					<% end %>
                </tbody>
            </table>
        </div>
    </div>
<div id="infinite-scrolling">
  <%= will_paginate %>
</div>
