<% @page_title="Articles" %>

<ol class="breadcrumb" id="myid">
    <li>
        <i class="fa fa-dashboard"></i>  <a href="/admin">Admin</a>
    </li>
    <li>
        <i class="fa fa-table"></i> <a href="/articles">Article</a>
    </li>
    <li class="active">
        <i class="fa fa-form"></i> Show
    </li>
</ol>
<%= link_to("back",{:action =>"index"}, :class =>"btn btn-inverse" )%>
<%= link_to("edit",{:action =>"edit",:id => @articles.id}, :class =>"btn btn-primary pull-right","data-no-turbolink" => true )%>
<div class="row">

<h4 class="text-center"><%=@articles.title%></h4>

<div class="small em text-center" ><%=@articles.timestamp%></div>
<br>
<div class="col-lg-10 col-lg-offset-1">
<p><%=@articles.body.html_safe%></p>
</div>
</div>