<% @page_title="Articles" %>

<ol class="breadcrumb">
    <li>
        <i class="fa fa-dashboard"></i>  <a href="/admin">Admin</a>
    </li>
    <li>
        <i class="fa fa-table"></i> <a href="/articles">Article</a>
    </li>
    <li class="active">
        <i class="fa fa-form"></i> Show
    </li>
</ol>
<%= link_to("back",{:action =>"index"}, :class =>"btn btn-inverse" )%>
<%= link_to("edit",{:action =>"edit",:id => @articles.id}, :class =>"btn btn-primary pull-right" )%>
<div >

<h4 style="text-align:center"><%=@articles.title%></h4>

<hr class="star-primary"> </hr>
<div class="small em" ><%=@articles.timestamp%></div>
<br>
<p><%=strip_tags(@articles.body)%></p>

<%@articles.article_images.each do |imgs|%>
<p>
	<%= image_tag imgs.photo.url(:thumb) %>
</p>
<% end -%>
</div>