<div class="text-center" style="color:red"><%= error_msg(@adminusers) %></div>
<div summary="adminuser form filed">
   <div class="col-sm-12 col-sm-offset-2">
	<div class="form-group row">
		<div class="col-xs-2"><%=f.label(:first_name,'First Name:',:class=>"h6" )%></div>
		<div class="col-xs-6"><%=f.text_field(:first_name,:class=>"form-control" )%></div>
	</div>
	<div class="form-group row">
		<div class="col-xs-2"><%=f.label(:last_name,"Last Name:",:class=>"h6") %></div>
		<div class="col-xs-6"><%=f.text_field(:last_name,:class=>"form-control")%></div>
	</div>
	<div class="form-group row">
		<div class="col-xs-2"><%=f.label(:username,"Username:",:class=>"h6") %></div>
		<div class="col-xs-6"><%=f.text_field(:username,:class=>"form-control") %></div>
	</div>
	<div class="form-group row">
		<div class="col-xs-2"><%=f.label(:email, "Email:",:class=>"h6") %></div>
		<div class="col-xs-6"><%=f.text_field(:email,:class=>"form-control") %></div>
	</div>
	<div class="form-group row">
		<div class="col-xs-2"><%=f.label(:password, "Password:",:class=>"h6") %></div>
		<div class="col-xs-6"><%=f.password_field(:password,:class=>"form-control") %></div>
	</div>
	<div class="form-group row">
		<div class="col-xs-2"><%=f.label(:password_confirmation, "Confirm Password:",:class=>"h6") %></div>
		<div class="col-xs-6"><%=f.password_field(:password_confirmation,:class=>"form-control") %></div>
	</div>
	<div class="form-group row">
		<div class="col-xs-2"><%=f.label(:visible,"make admin",:class=>"h6") %></div>
		<div class="col-xs-1"><%=f.check_box(:visible,:class=>"custom-checkbox") %></div>
	</div>
   </div>
</div>