<div class="menu">
  <h2>Admin Menu</h2>
  <div class="identity">Logged in as: <%= session[:user_name] %></div>
  <ul>
    <li><%= link_to("Manage Articles", :controller => 'articles') %></li>
    <% if @user.visible == true %>
    <li><%= link_to("Manage Admin Users", :controller =>'adminusers') %></li>
    <% end%>
    <li><%= link_to("Logout", :action => 'logout') %></li>
  </ul>
</div>
<%=link_to("View Content", {:controller => 'public'}, :id =>"content")%>
</div>
</br>
</br>

