<div class="login">
<%= form_tag(:action => 'attempt_login') do %>
        <div class="login-screen">

          <div class="login-form">
            <div class="form-group">
            <%= text_field_tag 'username',class: "form-control login-field",placeholder: "Enter your name",id: "login-name" %>
           <%= label_tag('username',class: "login-field-icon fui-user") %>
            </div>

            <div class="form-group">
                 <%= password_field_tag 'password', class: "form-control login-field",placeholder: "Password",id: "login-pass" %>
                  <%= label_tag( 'password',class: "login-field-icon fui-lock") %>
            </div>
              <%= submit_tag("Log In",:class=>"btn btn-primary btn-lg btn-block") %>
          </div>
        </div>
        <% end %>
    </div>

    