<% if session[:user_name] %>
	<% ses= session[:user_name] %>
	<%= link_to("#{ses}",{:controller =>'admin'}, :class =>"action" )%>
<%else %>
	<%=link_to("login",{:controller =>'access'}, :class =>"action" )%>
<% end %>
<%=link_to("about_us",{:action => 'about_us'}, :class =>"action" )%>
<%=link_to("articles",{:action => 'index'}, :class =>"action" )%>
<div id="my-articles">

<%= form_tag(:action =>'query') do  %>
<table>
	    <tr>
			<th><%= label_tag(:name,'Name')%></th>
			<td><%= text_field_tag(:name)%></td>
		</tr>
		 <tr>
			<th><%= label_tag(:email,'email')%></th>
			<td><%= text_field_tag(:email)%></td>
		</tr>
		 <tr>
			<th><%= label_tag(:subject,'subject')%></th>
			<td><%= text_field_tag(:subject)%></td>
		</tr>
		 <tr>
			<th><%= label_tag(:message,'Message')%></th>
			<td><%= text_area_tag(:message)%></td>
		</tr>
		<tr>
      	<td>&nbsp;</td>
      	<td><%= submit_tag("send") %></td>
    	</tr>	
</table>
<% end %>