<% cntr=0 %>
<% @public.each do |article| %>
   <% if cntr==0 %>
  <div class="row">
   <% end -%>
     <div class="col-sm-3 chronicle-item" data-sr=" enter <%=cycle('left move 300px','left move 150px','right move 150px','right move 200px') %> over 1s">
         <div class="component">
                <ul class="align">
                     
                        <figure class='book'>

                           <!-- Front -->

                         <ul class='hardcover_front'>
                             <li>
                                <%= image_tag(article.thumb.url(:large),:height=>'100%',:width=>'100%') %>
                             </li>
                                <li></li>
                        </ul>

                    <!-- Pages -->

                        <ul class='page'>
                            <li></li>
                            <li>
                               <%=link_to( "View",{:action => 'show', :id => article.id}, :class => 'btn btn-info')%>
                            </li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>

                    <!-- Back -->

                        <ul class='hardcover_back'>
                            <li></li>
                            <li></li>
                        </ul>
                        <ul class='book_spine'>
                            <li></li>
                            <li></li>
                        </ul>
                    </figure>
                     <h4 class="text-center" data-sr="vFactor 2.0" style="position:relative;top:30px; left:-70px">
                     <%= truncate(strip_tags(article.title), length: 20) %>
					</h4> 
               
            </ul>
        </div>
    </div>
  <% if cntr==3 %>
 	</div>
   <% end -%>
	<% cntr= cntr+1%>
	<%cntr = cntr%4 %>
  <% end %>

  <% if cntr!= 0 %>
  </div>
  <% end %>

<div class="bottom text-center">
  <%= will_paginate %>
</div>

 