<div class="page-header"><h1>public</h1></div>
<%= link_to("back to article",{:action =>"index"}, :class =>"action index" )%>


<h4><%=@public.title%></h4>
<br>
<%=@public.timestamp%>

<p>visiblity- <%=@public.visible %> </p>
<br>>
<%=strip_tags(@public.body)%>

<%@public.article_images.each do |imgs|%>
<p>
	<%= image_tag imgs.photo.url(:thumb) %>
</p>
<% end -%>