
<!DOCTYPE html>
<html>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
<head>
  <title><%=@page_title%></title>
  <%= stylesheet_link_tag    'public', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'mypublic', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color:#18bc9c" >

<%= yield %>


<script type="text/javascript">
      (function($) {

        window.sr= new scrollReveal({
          reset: true,
          mobile: true
        });

      })();
</script>
</body>
</html>
